* {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

#transcript {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .videoWrapper, #transcript {
    max-width: 768px;
    margin: 30px auto 0px;
  }
}